---
layout: layouts/default.liquid
pagination:
  data: articles
  size: 1
  alias: article
permalink: "/articles/{{ article.id }}/index.html"
---

<div class="current-article">
  <section>
    <div class="container">
      <a href="/" class="current-article__backlink">
        {% include 'partials/icons/back' class:'icon' %}
        <span>Back to Articles</span>
      </a>
      <h1 class="current-article__title">{{ article.title }}</h1>
      <div class="current-article__detail">
        <div class="current-article__wrapperOuter">
          <div class="current-article__wrapperInner">
            <div class="current-article__authorImage">
              <img
                src="{% getAssetURL article.author.avatar %}"
                alt=""
                loading="lazy"
              />
            </div>
            <div>
              <div class="current-article__authorName">
                {{ article.author.first_name }} {{ article.author.last_name }}
              </div>
              <div class="current-article__time">
                {{ article.publish_date }}
              </div>
            </div>
          </div>
          <ul class="current-article__socials">
            <li>
              <a href="/" target="_blank" rel="noreferrer noopener">
                {% include 'partials/icons/link' %}
              </a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/c/DirectusVideos"
                target="_blank"
                rel="noreferrer noopener"
              >
                {% include 'partials/icons/youtube' %}
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/directus-io"
                target="_blank"
                rel="noreferrer noopener"
              >
                {% include 'partials/icons/linkedin' %}
              </a>
            </li>
            <li>
              <a
                href="https://twitter.com/directus"
                target="_blank"
                rel="noreferrer noopener"
              >
                {% include 'partials/icons/twitter' %}
              </a>
            </li>
          </ul>
        </div>
        <div class="current-article_coverImage">
          <img src="{% getAssetURL article.cover_image %}" alt="" />
        </div>
      </div>
      <div class="current-article__body">
        <div class="current-article__bodyContent">{{ article.body }}</div>
        <ul class="current-article__bodySocials">
          <li>
            <a
              href="https://github.com/directus"
              target="_blank"
              rel="noreferrer noopener"
            >
              {% include 'partials/icons/github' %}
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/c/DirectusVideos"
              target="_blank"
              rel="noreferrer noopener"
            >
              {% include 'partials/icons/youtube' %}
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/directus-io"
              target="_blank"
              rel="noreferrer noopener"
            >
              {% include 'partials/icons/linkedin' %}
            </a>
          </li>
          <li>
            <a
              href="https://twitter.com/directus"
              target="_blank"
              rel="noreferrer noopener"
            >
              {% include 'partials/icons/twitter' %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  {% include 'partials/more-articles' articles:article.moreArticles %}
</div>
